*.xlsx
*.xls
*.csv
*.gguf
*.awq
*.bin
*.pt
*.safetensors

__pycache__/
.ruff_cache/
.mypy_cache/
*.py[cod]
*$py.class
.pytest_cache/
venv/
.venv/
env/
.env
uv.lock

.huggingface/
.cache/
mDeBERTa/
Qwen/

HELP.md
target/
build/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

.idea/
*.iws
*.iml
*.ipr

.vscode/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.DS_Store
Thumbs.db
